*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  font-size:18px ;
}
h1,h3{
  color:green;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
h3 {
  font-size: 30px;
  margin-bottom :10px;
}
p,img,h6,#my{
  margin-bottom: 10px;
}
p {
  text-align:justify;
 

}
img{
  width:500px;
 
}
h6 {
  color:blue;
  font-size: 25px;
}
#my {
  width:100px;
  height: 100px;
}